@{
    Layout = "_Layout";
    ViewData["Title"] = "Chicken Strips with New Delicious Ingredients";
}

<section class="blog-detail">
    <h1 class="section-title">Making Chicken Strips With New Delicious Ingredients</h1>
    <div class="blog-meta">Jonathan Smith | Jan 01 2022</div>
    <div class="blog-image">
        <img src="/images/blog-2.jpg" alt="Chicken Strips">
    </div>
    <div class="blog-content">
        <p>Financial experts support or help you to find out which way you can raise your funds more...</p>
        <p>Write here the full steps to make the Chicken Strips, including preparation, cooking, and serving suggestions.</p>
    </div>
    <a asp-action="Index" class="btn-link">Back to Home</a>
</section>
